{% extends 'base.html' %}
{% block title %}{{ settings.seo_title }}{% endblock %}
{% block description %}{{ settings.seo_description }}{% endblock %}
{% block content %}
    <section class="b-home__slider">
        <div class="shade">
            <div class="corner uk-position-center"></div>
        </div>
        <div class="slider">
            <div class="uk-position-relative uk-light" tabindex="-1"
                 uk-slideshow="min-height: 420; max-height: 440; animation: scale; autoplay: true; autoplay-interval: 2000; pause-on-hover: false">
                <ul class="uk-slideshow-items">
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'shop:category' category.slug %}" title="{{ category.name }}">
                                <div class="uk-position-center uk-text-center">
                                    <span class="slider__text">{{ category.name }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="b-section__lead uk-padding-small uk-padding-remove-horizontal uk-margin-bottom">
        <div class="uk-container">
            <div class="uk-card uk-card-body uk-card-small">
                <h1 class="uk-h2 uk-text-center uk-text-bold">{{ settings.site_name }}</h1>
                <div class="uk-text-center">{{ settings.site_description | linebreaks }}</div>
            </div>
        </div>
    </section>
    <div class="uk-container" style="min-height: 200px"></div>
{% endblock %}