{% extends 'base.html' %}

{% block title %}{{ page.seo_title }} - {{ block.super }}{% endblock %}
{% block description %}{{ page.seo_description }}{% endblock %}

{% block content %}
  <article class="b-page uk-margin-top uk-margin-large-bottom uk-container uk-card uk-card-body uk-card-default uk-border-rounded">
    <header class="b-page__title__wrap">
      <h1 class="b-page__title">{{ page.title }}</h1>
    </header>
    <div class="content">{{ page.content|safe }}</div>
  </article>
{% endblock %}