$base-body-background: #f3f1f0;
$base-body-color: #333;
$base-heading-color: #552a15;
$navbar-nav-item-height: 50px;
$navbar-nav-item-color: #552a15;
$navbar-nav-item-hover-color: #834317;
$navbar-nav-item-active-color: #834317;